@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Indie+Flower&display=swap');
:root{
    --main-bg-color: #2874f0
    }
.allcenter{
    display: flex;
    justify-content: center;
   align-items: center;
}
.text-center{
    text-align: center;
}
.font{
    font-size: 1.5vw;
}
.font-head{
    font-size: 3vw;
}